NODE_ENV=test
TEST_DB_DIALECT=postgres
TEST_DB_HOST=localhost
TEST_DB_PORT=5432
TEST_DB_NAME=entra_login_test
TEST_DB_USER=postgres
TEST_DB_PASSWORD=postgres
TEST_DB_SSL=false
TEST_DB_SSL_REJECT_UNAUTHORIZED=true
